@media (max-width:700px){
    .menu-btn{
        display: block !important;
    }
    .menu.btn:hover{
        opacity: 0.9;
    }
    .main-nav ul.right-menu{
        margin-right: 50px;
    }
    .main-nav ul.main-menu li{
        padding: 10px;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
    }
    .main-nav ul.main-menu li:last-child{
        border-bottom: 0;
    }
    .main-nav ul.main-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: #f2f2f2;
        border-bottom:1px solid #ccc;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);
        transition: transform 0.5s ease-in-out;
    }
    .main-nav ul.main-menu.show{
        transform: translateX(-20px)
    }
    .home-cards{
        grid-template-columns: repeat(2,1fr) !important; 
    }
    .link-inner{
        grid-template-columns: repeat(2,1fr) !important;
    }
}